<footer class="footer footer-bottom-alt" style="z-index: -20;background-color: rgb(0 0 0 / 70%)">
	<div class="container" style="padding-top: 0px">
		<nav class="pull-left">
			<ul>
				<li>
					<a ui-sref="about">
						About
					</a>
				</li>
				<li>
					<a href="https://www.iubenda.com/privacy-policy/71074056" rel="noreferrer" target="_blank">
						Privacy
					</a>
				</li>
				<li>
					<a ui-sref="join">
						Join Game
					</a>
				</li>
				<li>
					<a ui-sref="host">
						Host Game
					</a>
				</li>				
			</ul>
		</nav>
		<div class="copyright pull-right">
			 &copy; {{year}}, made with <i class="material-icons text-rose">favorite</i> by <a class="text-rose" href="https://www.rouic.com" rel="noreferrer" target="_blank">Rouic</a>
		</div>
	</div>
</footer>