
<div class="row">
    			<div class="col-md-10 col-md-offset-1">

					<!--WAITING CARD START -->
					<div ng-hide="gameStarted" class="card card-signup" style="margin-bottom: 0px">
	                    <h2 class="card-title text-center">Waiting for host to continue...</h2>
	                    <div class="col-md-8 col-md-offset-2 text-center">
	                    	<buton ng-click="startGame()" ng-show="continueButton" class="btn btn-rose btn-round join-button">Start Game <i class="material-icons">navigate_next</i></button>
	                    </div>
	        		</div>
	        		<!--WAITING CARD END -->
	        		
	        		<!--GAME CARD START -->
					<div ng-show="gameStarted" class="card card-signup" style="margin-bottom: 0px">
						<div class="room-code-holder">
							<h2 class="title">{{roomCode}}</h2>
						</div>		
						<div ng-if="myName" class="room-cards-left-holder">
							<h2 class="title">{{myName}}</h2>
						</div>						
						<div ng-if="countdown > 0" class="room-countdown-holder">
							<h2 class="title">{{countdown}}</h2>
						</div>											
						<div class="row" ng-show="!mycards.length" style="margin-top: 10px;">
		                    <div class="col-xs-8 col-xs-offset-2 text-center">
								
								<h4 ng-if="ended">That's the end of the game! You can see your final cards below!</h4>
								
		                    	<h4 ng-if="instruction != 'bullshit' && instruction != 'drink' && instruction != 'several_drink' && !ended"><span ng-if="currentRound" class="text-muted" style="font-weight: 500">Row {{currentRow}}, round {{currentRound}} - it's <span style="color:black">{{currentCard}}</span>!</span> {{instruction}} <span class="text-rose" style="font-weight: 500" ng-if="drinkNumber > 0">You need to drink {{drinkNumber}} this round!</span></h4>
								<h4 ng-if="instruction == 'bullshit'">What's this? <b>{{currentDecision.to_player}}</b> has called <b class="text-rose">BULLSHIT</b>! Select the card with the <b>same</b> rank as the card in play below - or face drinking double! <span class="text-muted" ng-if="drinkNumber > 0">By the way you already need to drink {{drinkNumber}} this round!</span></h4>
								<h4 ng-if="instruction == 'several_drink'">You have been called to drink by <b>multiple</b> other players! We'll begin with <b>{{currentDecision.from_player}}</b>. Decide what to do by choosing a button below.</h4>
								<h4 ng-if="instruction == 'drink'"><b>{{currentDecision.from_player}}</b> has asked you to drink! Decide what to do by choosing a button below.</h4>
									
								<button ng-click="showAllMyCards()" ng-show="allowViewAll" class="btn btn-rose btn-round join-button">Show My Cards <i class="material-icons">visibility</i></button>
									
								<button ng-click="getNewCard()" ng-show="allowNewCard" class="btn btn-rose btn-round join-button">Get New Cards <i class="material-icons">visibility</i></button>									
									
								<button ng-click="callPlayer()" ng-show="allowCalling" class="btn btn-rose btn-round join-button">Select Player <i class="material-icons">local_bar</i></button>		
									
								<button ng-click="decision(1)" ng-show="allowDecision" class="btn btn-success btn-round join-button">Accept Drinks <i class="material-icons">done</i></button>		
									
								<button ng-click="decision(2)" ng-show="allowDecision" class="btn btn-danger btn-round join-button">Bullshit! <i class="material-icons">report</i></button>									
								
	
																
		                    </div>
						</div>
						 <div class="row">
							<div class="col-md-8 col-md-offset-2 text-center" id="clientcontainerparent" style="min-height: 400px;position: inherit;overflow: hidden;margin-top: 200px;">
								<div id="clientcardcontainer"></div>
							</div>
						</div>						
	        		</div>
	        		<!--GAME CARD END -->     		
	        		
		    		<div class="text-center">
						<a ui-sref="start" class="btn btn-white btn-simple">
							<i class="material-icons">exit_to_app</i> Exit Game
						</a>
					</div>
    			</div>
			</div>


<div class="modal fade" tabindex="-1" role="dialog" id="callModel">
  <div class="modal-dialog modal-small" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Select Player to Drink!</h5>
      </div>
      <div class="modal-body">
       	<p>Select a different player below to send a drink to. They can either believe you or call your bluff!</p>
				
				<h6 ng-if="otherPlayersCopy.length < 1">Oh no! No other players to send drinks to! :(</h6>
				<div class="radio" ng-repeat="x in otherPlayersCopy" style="margin-top:15px">
					<label ng-click="selectP(x)">
						<input class="selectplayerradio" type="radio" name="playerRadios" value="{{x.uid}}">
						<img alt="user-avatar-{{x.name}}" ng-src="https://us-central1-pyramid-ninja.cloudfunctions.net/avatars/70/{{x.name}}.png" alt="Connected User" class="img-rounded img-responsive img-raised in-progress-avatar">
						{{x.name}}
					</label>
				</div>
				
				
				<p ng-if="selectedplayer" style="margin-top:20px">About to send a drink to: {{selectedplayer.name}}</p>
				
      </div>
      <div class="modal-footer">
        <button type="button" ng-click="confirmCall()" ng-disabled="!selectedplayer" class="btn btn-rose">Confirm</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>