	<div class="page-header header-filter" filter-color="black" data-parallax="active" style="background-image: url('assets/img/pyramid-of-khafre-in-giza-egypt-L6MV5GX(1).jpg');">
		<div class="container">
    		<div class="row">
        		<div class="col-md-8 col-md-offset-2">
                    <h1 class="title">Privacy</h1>
                        <h4>We protect your privacy, here's our up to date policy.</h4>
                </div>
            </div>
        </div>
	</div>

	<div class="main main-raised">
		<div class="container">
            <div class="about-description" style="padding-bottom:70px">
                <div class="row">
    				<div class="col-md-8 col-md-offset-2">
						<a href="https://www.iubenda.com/privacy-policy/71074056" class="iubenda-white no-brand iubenda-embed iub-body-embed" title="Privacy Policy">Privacy Policy</a>
    				</div>
    			</div>
            </div>

        </div>
    </div>

		<footer class="footer">
	        <div class="container">
	            <nav class="pull-left">
					<ul>
						<li>
							<a href="https://www.rouic.com">
								Rouic Ltd
							</a>
						</li>
						<li>
							<a ui-sref="about">
								About
							</a>
						</li>
						<li>
							<a ui-sref="privacy">
								Privacy
							</a>
						</li>
						<li>
							<a ui-sref="join">
								Join Game
							</a>
						</li>
						<li>
							<a ui-sref="host">
								Host Game
							</a>
						</li>												
					</ul>
	            </nav>
	            <div class="copyright pull-right">
	                &copy; {{year}}, made with <i class="material-icons text-rose">favorite</i> by <a class="text-rose" href="https://www.rouic.com" target="_blank">Rouic</a>
	            </div>
	        </div>
	    </footer>