	<div class="page-header header-filter" filter-color="black" style="background-image: url('assets/img/{{randomBackground}}.jpg'); background-size: cover; background-position: top center;">
    	<div class="container">
			<div class="row">
    			<div class="col-md-10 col-md-offset-1">

					<div class="card card-signup">
                        <img src="/assets/img/pyramid.ninja.png" class="main-logo">
                        <div class="row">
    				<div class="col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
    					<h5 class="description text-center"><b>Welcome to the digital version of the drinking game Pyramid</b>. Requires at least 2 players each with their own device. Every player needs a drink & should be able to see the host screen (use Discord, Skype, Zoom etc).</h5>
    				</div>                            
    				<div class="col-sm-5 col-sm-offset-1 col-xs-10 col-xs-offset-1">
            		        	
            					<div class="info info-horizontal">
            						<div class="icon icon-info">
            							<i class="material-icons">input</i>
            						</div>
            						<div class="description">
            							<h4 class="info-title">Join Game</h4>
            							<p class="description">
            								Choose this option to join an exiting host's game. You'll need their 4-digit code.
            							</p>
            							<a ui-sref="join" class="btn btn-info btn-round join-button">Join Game</a>
            						</div>
            		        	</div>            		        	

            				</div>
                            <div class="col-sm-5 col-xs-10 col-xs-offset-1 col-sm-offset-0">
	                            
            					<div class="info info-horizontal">
            						<div class="icon icon-rose">
            							<i class="material-icons">add_circle</i>
            						</div>
            						<div class="description">
            							<h4 class="info-title">Start as Host</h4>
            							<p class="description">
            								Choose this option to use this device as the host. Everyone should be able to see this screen.
            							</p>
            							<a ui-sref="host" class="btn btn-rose btn-round join-button">Host Game</a>
            						</div>
            		        	</div>	 	                            


                            </div>
                        </div>
                        <div class="row">
    				        <div class="col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
                                <h5 class="description text-center">Want to help build pyramid.ninja? <a class="text-rose" href="https://github.com/Rouic/pyramid.ninja" target="_blank">We're open source!</a></h5>
                            </div>                              
                        </div>
                	</div>

                </div>
            </div>
		</div>

		<footer class="footer footer-bottom">
	        <div class="container">
	            <nav class="pull-left">
					<ul>
						<li>
                            <a ui-sref="about">
                                About
                            </a>
                        </li>
                        <li>
                            <a ui-sref="join">
                                Join Game
                            </a>
                        </li>
                        <li>
                            <a ui-sref="host">
                                Host Game
                            </a>
                        </li>						
					</ul>
	            </nav>
	            <div class="copyright pull-right">
	                  &copy; {{year}}, made with <i class="material-icons text-rose">favorite</i> by <a class="text-rose" href="https://www.rouic.com" target="_blank">Rouic</a>
	            </div>
	        </div>
	    </footer>

    </div>
