	<div class="page-header header-filter" filter-color="red" data-parallax="active" style="background-image: url('assets/img/pyramid-of-khafre-in-giza-egypt-L6MV5GX(1).jpg');">
		<div class="container">
    		<div class="row">
        		<div class="col-md-8 col-md-offset-2">
                    <h1 class="title">About Pyramid.Ninja</h1>
                        <h4>Pyramid is an awesome card based drinking game - and this is the digital counterpart! It's still very alpha so enjoy breaking it!</h4>
                </div>
            </div>
        </div>
	</div>

	<div class="main main-raised">
		<div class="container">
            <div class="about-description" style="padding-bottom:70px">
                <div class="row">
    				<div class="col-md-8 col-md-offset-2">
						<img src="/assets/img/pyramid.ninja.png" class="main-logo">
    					<h6>Basic Rules</h6>
						<p>First, everyone gets to look at their cards for 10 seconds until they are covered again. You should remember <b>just the rank</b> (so suit is irrelevant) of your cards without revealing what you have to anyone else. The key is to memorise what you have, and in what order, because you won't be allowed to look at them again, unless you get called out on a bluff.</p>

						<p>Once everyone is set, each card in the pyramid begins to be flipped over, one at a time, row by row. After a card is flipped, you can assign drinks to other players based on either having the card in your hand, or based on a bluff. If assigned a drink by another player, you have the option of calling their bluff (in which case the player that assigned the drink to you has to find that card in their hand in one guess), or drink the assigned drinks and continue playing. Note: If a you are called on a bluff and flip a card over, you then discard that card and are given a new one in its place. You will see this new card for 5 seconds before it is covered like the rest.</p>

						<p>Each row of the pyramid represents the number of drinks given, ranging from the bottom row which begins at one drink, to the top which represents five drinks. Also, if a player calls someone out on a bluff incorrectly, they drink doubles the number of drinks they were assigned. If a player calls someone out on a bluff correctly, then the bluffer drinks 2x the drinks instead!</p>
							
						<h6>Pyramid Specific Differences</h6>	
						<ul>
							<li>There are current <b>no</b> jokers in this. (coming soon)</li>
							<li>You cannot currently call double cards, or split double cards... unfortunately. (coming soon)</li>
							<li>The pyramid is statically built but only ever has 5 rows. You can click any card however allowing for "reverse pyramid"</li>
							<li>The game will only tell you who needs to drink what <em>per round</em>, so make sure everyone is up to speed before you more on!</li>
						</ul>
							
						<h6>Oh, and drink responsibly, or something...</h6>
    				</div>
    			</div>
            </div>

        </div>
    </div>

		<footer class="footer">
	        <div class="container">
	            <nav class="pull-left">
					<ul>
						<li>
							<a href="https://www.rouic.com">
								Rouic Ltd
							</a>
						</li>
						<li>
							<a ui-sref="about">
								About
							</a>
						</li>
						<li>
							<a ui-sref="join">
								Join Game
							</a>
						</li>
						<li>
							<a ui-sref="host">
								Host Game
							</a>
						</li>												
					</ul>
	            </nav>
	            <div class="copyright pull-right">
	                &copy; {{year}}, made with <i class="fa fa-heart heart text-danger"></i> by <a class="text-rose" href="https://www.rouic.com" target="_blank">Rouic</a>
	            </div>
	        </div>
	    </footer>