	<div class="page-header header-filter" filter-color="red" style="background-image: url('assets/img/abstract-background-PUZKTEQ(1).jpg'); background-size: cover; background-position: top center;">
    	<div class="container">
			<div class="row">
    			<div class="col-md-10 col-md-offset-1">

					<!--WAITING CARD START -->
					<div ng-hide="gameStarted" class="card card-signup" style="margin-bottom: 0px">
                        <h2 ng-if="!(players.length > 2)" class="card-title text-center">Waiting for more players...</h2>
                        <h2 ng-if="(players.length > 2)" class="card-title text-center">Press Continue when ready...</h2>
						<h3 class="text-center" ng-if="!roomCode"><em>Generating new game...</em></h3>
                        <h3 class="text-center" ng-if="roomCode">Open {{domain}} on your devices and enter <span class="card-title">{{roomCode}}</span> to join this game.</h3>
                        <div class="row">
		    				<div class="col-md-8 col-md-offset-2 text-center">
			    				<div class="game-player" ng-repeat="x in players" ng-if="x.type != 'host'">
			    					<img ng-src="https://us-central1-pyramid-ninja.cloudfunctions.net/avatars/70/{{x.name}}.png" alt="Connected User" class="img-rounded img-responsive img-raised" style="max-width: 100px">
									<p>{{x.name}}</p>
			    				</div>	    					    				
		    				</div>  
		    				<div class="col-md-8 col-md-offset-2 text-center">
			    				<button ng-click="startGame()" ng-if="players.length && players.length > 1" class="btn btn-rose btn-round join-button">Continue <i class="material-icons">navigate_next</i></button>
		    				</div>                        					
                		</div>
            		</div>
            		<!--WAITING CARD END -->
            		
            		<!--GAME CARD START -->
					<div ng-show="gameStarted" class="card card-signup" id="maingamecontainer" style="margin-bottom: 0px">
						<div class="room-code-holder">
							<h2 class="title">{{roomCode}}</h2>
						</div>
						<div ng-if="cardsleft" class="room-cards-left-holder">
							<h2 class="title">{{cardsleft}} Card{{(cardsleft == 1) ? '' : 's'}} Left - {{players.length}} Player{{(players.length == 1) ? '' : 's'}}</h2>
						</div>							
						<div ng-if="countdown > 0" class="room-countdown-holder">
							<h2 class="title">{{countdown}}</h2>
						</div>			
						<div class="players-container">
			    			<div ng-repeat="x in players" ng-if="x.type != 'host'" class="in-progress-user">
								<img ng-src="https://us-central1-pyramid-ninja.cloudfunctions.net/avatars/70/{{x.name}}.png" alt="Connected User" class="img-rounded img-responsive img-raised in-progress-avatar">
								<p style="display: inline-block">{{x.name}}</p>
							</div>								
						</div>		
                        <div class="row">
		    				<div class="col-md-8 col-md-offset-2 text-center">
								<h3 style="padding: 0px 150px;" class="text-center card-title">{{information}}</h3>					    				
		    				</div>      
                		</div>
						 <div class="row">
							 <div on-size-changed="logResize" class="col-md-8 col-md-offset-2 text-center" id="containerparent" style="min-height: 75vh;position: inherit;overflow: hidden;">
								 <div id="cardcontainer"></div>
							 </div>
						 </div>               		
            		</div>
            		<!--GAME CARD END -->            		
            		
	    		<div class="text-center">
					<a ui-sref="start" class="btn btn-white btn-simple">
						<i class="material-icons">exit_to_app</i> Exit Game
					</a>
				</div>	
		</div>
			</div>
		</div>
		<footer class="footer footer-bottom">
	        <div class="container" style="height: 30px;">
	            <nav class="pull-left">
					<ul>
						<li>
							<a ui-sref="about">
								About
							</a>
						</li>
						<li>
							<a ui-sref="join">
								Join Game
							</a>
						</li>
						<li>
							<a ui-sref="host">
								Host Game
							</a>
						</li>						
					</ul>
	            </nav>
	            <div class="copyright pull-right">
	                  &copy; {{year}}, made with <i class="fa fa-heart heart"></i> by <a class="text-rose" href="https://www.rouic.com" target="_blank">Rouic</a>
	            </div>
	        </div>
	    </footer>

    </div>
	

<div class="modal fade" id="roundModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="card card-plain">
        <div class="modal-header">
          <h4 class="modal-title card-title text-center">Round {{round_number}}, Row {{round_row}}</h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-sm-6 ml-auto">
				<div id="modalcardcontainer"></div>
            </div>

            <div class="col-sm-6 mr-auto">
				<p class="text-muted">The card on the left is currently in play. Use your device to call a drink to another player.</p>
				<h6 ng-if="round_transactions.length > 0">Round Log:</h6>
				<table class="table">
				    <tbody>
				        <tr ng-repeat="x in round_transactions">
				            <td>
								<span><b>{{x.from_player}}</b> has called on <b>{{x.to_player}}</b> to drink!</span> 
								<span ng-if="!x.result">Waiting on response from <b>{{x.to_player}}</b>...</span>
								<span ng-if="x.result == 'accepted'"><br><b>{{x.to_player}}</b> <b class="text-success">ACCEPTED</b> the drinks!</span>
								<span ng-if="x.result == 'bullshit'"><b><br>{{x.to_player}}</b> has called <b class="text-rose">BULLSHIT! </b> Waiting for <b>{{x.from_player}}</b> to show a card...</span>
								<span ng-if="x.result == 'bullshit_wrong'"><br><b>{{x.to_player}}</b> has called <b class="text-rose">BULLSHIT! </b> <b>{{x.from_player}}</b> turned over a card with the <b class="text-danger">WRONG</b> rank!</span>
								<span ng-if="x.result == 'bullshit_correct'"><br><b>{{x.to_player}}</b> has called <b class="text-rose">BULLSHIT! </b><b>{{x.from_player}}</b> turned over a card with the <b class="text-success">CORRECT</b> rank!</span>
							</td>
				        </tr>
				    </tbody>
				</table>					
				<h6 ng-if="round_transactions.length == 0" class="waiting">No updates yet...</h6>	
            </div>		
          </div>
		  <div class="row text-center" style="margin-top:70px">
			  <div class="col-sm-12">
			  	<h6 ng-if="drink_log.length > 0">Round Results:</h6>
				<p><span ng-repeat="y in drink_log"><b>{{y.name}}</b> drinks <b>{{y.drinks}}</b>{{($last) ? '!' : ', '}}</span></p>
			  </div>
		  </div>
		  <div class="row">
              <div class="modal-footer justify-content-center text-center">
				  <a class="btn btn-rose btn-round" data-dismiss="modal" aria-label="Close">Finish Round</a>
			  </div>				  
		  </div>
        </div>
      </div>
    </div>
  </div>
</div>
