	<div class="page-header header-filter" filter-color="red" style="background-image: url('assets/img/pyramid-of-khafre-in-giza-egypt-L6MV5GX(1).jpg'); background-size: cover; background-position: top center;">
    	<div class="container">
			<div class="row">
    			<div class="col-md-10 col-md-offset-1">

					<!--WAITING CARD START -->
					<div ng-hide="gameStarted" class="card card-signup" style="margin-bottom: 0px">
                        <h2 ng-if="!(players.length > 2)" class="card-title text-center">Waiting for more players...</h2>
                        <h2 ng-if="(players.length > 2)" class="card-title text-center">Press Continue when ready...</h2>
                        <h3 class="text-center">Open {{domain}} on your devices and enter <span class="card-title">{{roomCode}}</span> to join this game.</h3>
                        <div class="row">
		    				<div class="col-md-8 col-md-offset-2 text-center">
			    				<div class="game-player" ng-repeat="x in players" ng-if="x.type != 'host'">
			    					<img ng-src="/avatar/{{x.name}}" alt="Connected User" class="img-rounded img-responsive img-raised" style="max-width: 100px">
									<p>{{x.name}}</p>
			    				</div>	    					    				
		    				</div>  
		    				<div class="col-md-8 col-md-offset-2 text-center">
			    				<button ng-click="startGame()" ng-if="players.length && players.length > 2" class="btn btn-rose btn-round join-button">Continue <i class="material-icons">navigate_next</i></button>
		    				</div>                        					
                		</div>
            		</div>
            		<!--WAITING CARD END -->
            		
            		<!--GAME CARD START -->
					<div ng-show="gameStarted" class="card card-signup" style="margin-bottom: 0px">
						<div class="room-code-holder">
							<h2 class="title">{{roomCode}}</h2>
						</div>
						<div ng-if="cardsleft" class="room-cards-left-holder">
							<h2 class="title">{{cardsleft}} Card{{(cardsleft == 1) ? '' : 's'}} Left - {{clients.length}} Player{{(clients.length == 1) ? '' : 's'}}</h2>
						</div>							
						<div ng-if="countdown > 0" class="room-countdown-holder">
							<h2 class="title">{{countdown}}</h2>
						</div>					
                        <div class="row">
		    				<div class="col-md-8 col-md-offset-2 text-center">
								<h3 style="padding: 20px;" class="text-center card-title">{{information}}</h3>					    				
		    				</div>      
                		</div>
						 <div class="row">
							 <div class="col-md-8 col-md-offset-2 text-center" id="containerparent" style="min-height: 75vh;position: inherit;overflow: hidden;">
								 <div id="cardcontainer"></div>
							 </div>
						 </div>
                        <div class="row">
		    				<div class="col-md-8 col-md-offset-2 text-center">
			    				<div ng-repeat="x in players" ng-if="x.type != 'host'" class="in-progress-user">
			    					<img ng-src="/avatar/{{x.name}}" alt="Connected User" class="img-rounded img-responsive img-raised in-progress-avatar">
			    					<div class="userState"></div>
									<p style="display: inline-block">{{x.name}}</p>
			    				</div>	    					    				
		    				</div>                          					
                		</div>                		
            		</div>
            		<!--GAME CARD END -->            		
            		
	    		<div class="text-center">
					<a ui-sref="start" class="btn btn-white btn-simple">
						<i class="material-icons">exit_to_app</i> Exit Game
					</a>
				</div>	
		</div>

		<footer class="footer">
	        <div class="container" style="height: 30px;">
	            <nav class="pull-left">
					<ul>
						<li>
							<a href="https://www.rouic.com">
								Rouic Ltd
							</a>
						</li>
						<li>
							<a sref="about">
								About
							</a>
						</li>
						<li>
							<a sref="help">
								Help
							</a>
						</li>						
					</ul>
	            </nav>
	            <div class="copyright pull-right">
	                &copy; 2020 <a href="https://www.rouic.com" target="_blank">Rouic</a>
	            </div>
	        </div>
	    </footer>

    </div>
	

<div class="modal fade" id="roundModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="card card-plain">
        <div class="modal-header">
          <h5 class="modal-title card-title">Round {{round_number}}, Row {{round_row}}</h5>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-sm-5 ml-auto">
				<div id="modalcardcontainer"></div>
            </div>

            <div class="col-sm-5 mr-auto">
				<p class="text-muted">The card on the left is currently in play. Use your device to call a drink to another player.</p>
				<h6 ng-if="transaction_log.length">Round Log:</h6>
				<table class="table">
				    <tbody>
				        <tr ng-repeat="x in transaction_log track by $index">
				            <td>{{x}}</td>
				        </tr>
				    </tbody>
				</table>					
				<h6 class="waiting">Waiting for more updates...</h6>	
            </div>		
          </div>
		  <div class="row" style="margin-top:100px">
			  <div class="col-sm-10">
			  	<h6>Current Round Results:</h6>
				<p>Tim to drink (6) drinks!</p>
			  </div>
		  </div>
		  <div class="row">
              <div class="modal-footer justify-content-center text-center">
				  <a class="btn btn-rose btn-round" data-dismiss="modal" aria-label="Close">Finish Round</a>
			  </div>				  
		  </div>
        </div>
      </div>
    </div>
  </div>
</div>
